/*#EA9A62 peach
#A47345 brown
#EABE62 yellow
#EA7862 pink 
#A45445 dark pink */

body {
  margin: 0;
  font-family: "Courier New", Courier, monospace;
}
.desktop-logo {
  width: 50px;
  height: 50px;
  text-decoration: none;
  /* float:left; */
}

.mobile-logo {
  align-self: center;
  height: 100px;
  width: auto;
}

.hero-image {
  background: url(https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/v880-techi-08-master.jpg?w=1300&dpr=1&fit=default&crop=default&q=80&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=8d4c0ceb7df2e8fe25660e643e3a7cbe);
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  background-position: center;
}

.main-nav {
  /* background-color: #ea7862; */
  position: sticky;
  overflow: hidden;
  top: 0;
  width: 100%;
  background-color: #ea7862;
  /* float: right; */
  z-index: 1;
}

.desktop-nav a {
  /* float: right; */
  color: #eabe62;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  /* make scrolling smooth */
}

.desktop-nav a:hover {
  background-color: #a45445;
  padding: 15px;
}

.mobile-nav {
  position: sticky;
  text-align: center;
  /* text-decoration: none; */
  list-style: none;
  padding: 15px;
}

.mobile-nav a {
  color: #eabe62;
  text-decoration: none;
}

.mobile-nav a:hover {
  color: #a45445;
}

#about-me,
#clubs {
  color: #a47345;
}

#contacts {
  background-color: #a47345;
}

#colleges,
#advisors {
  background-color: #ea9a62;
}

.missouri,
.semo,
.siue,
.maryville,
.purdue {
  border: 5px solid #a47345;
  border-radius: 50%;
  height: 100px;
  margin: 15px;
}

.sydney {
  height: 350px;
  overflow: hidden;
  margin-left: 25px;
}

.colleges-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.instagram-img,
.twitter-img,
.facebook-img {
  border: 5px solid #a45445;
  height: 50px;
  border-radius: 50%;
  /* find a white snapchat theme, and make all images the same size */
}

/* .container {
  width: 100%;
} */

.col-md-6 {
  display: block;
}

@media (min-width: 600px) {
  .mobile-nav,
  .mobile-logo {
    display: none;
  }
  .ab-me {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .hero-text {
    font-weight: bold;
    position: absolute;
    border-radius: 20px;
    color: #a45445;
    font-size: 100px;
    margin: 250px;
    border: 5px solid #a45445;
    right: 315px;
    bottom: 150px;
    padding: 20px;
  }
}

@media (max-width: 600px) {
  .desktop-nav,
  .desktop-logo {
    display: none;
  }
  .mobile-logo {
    display: none;
  }
  .col {
    margin: 15px;
    align-items: center;
  }
  .hero-text {
    font-weight: bold;
    position: absolute;
    border-radius: 20px;
    color: #a45445;
    font-size: 100px;
    margin: 250px;
    border: 5px solid #a45445;
    text-align: center;
    transform: translate(-50%, -50%);
  }
  .hero-text h1 {
    margin: 15px;
  }
}

.adv1,
.adv2,
.adv3,
.adv4 {
  height: 50px;
}

.box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 50px;
}

.socials {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-evenly;
  padding: 15px;
}

h2 {
  font-size: 25px;
}

h1 {
  font-size: 45px;
  font-weight: 400;
}

.socials img:hover {
  border-color: #ea9a62;
}

.user {
  color: #ea9a62;
  text-decoration: none;
}

.card-container {
  display: flex;
  width: 40px;
}

.card-container img {
  height: 100px;
  width: auto;
}

.card {
  background-color: #ea9a62;
  padding: 50px;
  border: none;
}

.nhs,
.deca,
.taf,
.caps {
  height: 100px;
}

.carousel-item {
  height: 500px;
  overflow: hidden;
}

.card-img-top {
  height: 200px;
  overflow: hidden;
}
