/*#EA9A62 peach
#A47345 brown
#EABE62 yellow
#EA7862 pink 
#A45445 dark pink */

 body{
    margin: 0;
}
.my-logo{
    width: 50px;
    height: 50px;
}

.hero-image{
    background: url(https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/v880-techi-08-master.jpg?w=1300&dpr=1&fit=default&crop=default&q=80&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=8d4c0ceb7df2e8fe25660e643e3a7cbe)
    top/cover;
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
    background-position: center;
}
/* .hero{
} */

.main-nav{
    background-color: #EA7862;
    padding-right: 100px;
    position: fixed;
    overflow: hidden;
    top: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /*word-spacing: 10px;*/
   /*margin-top: 0px;*/
}

 .hero-text{
    position: absolute;
    color: #A45445;
    font-size: 30px;
    margin: 60%, 35%;
    text-align: center;
}


.main-nav a {
    padding-right: 10px;
    font-size: 30px;
    /* font-style: oblique; */
    color: #EABE62;
    padding: 14px 16px;
    float: right;
    /*font-weight: 900px;*/
}

 .main-nav a:hover {
    background: #A45445
}

.about-me, .clubs, .contacts{
    background-color: #A47345;
}

.colleges, .advisors{
    background-color: #EA9A62;
} 

.sydney{
    height: 350px;
    overflow: hidden;
}

.missouri, .purdue, .maryville, .siue, .semo{
    height: 200px;
}

.instagram, .snapchat, .email, .twitter, .facebook{
    height: 200px;
} 

.container{
    width: 100%;
}

.col-md-6{
    display: block;
}

@media (min-width: 600px){
    .container{
        width: 780px;
        margin: 0 auto;
    }
    .col-md-6{
        width: 45%;
        float: left;
    }
}

.adv1, .adv2, .adv3, .adv4{
    height: 50px;
}

.box{
    display: flex;
    flex-wrap: wrap;
    flex-direction:inherit;
    justify-content: space-between;
    /* gap: 50px;  */
    padding: 50px;
}

.contact.ul{
    float: right;
}

.box-handles{
    display: flex;
    flex-wrap: wrap;
}